@charset "UTF-8";

body{
  width: 400px;
 }

.wrapper{
  width: 400px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: flex-end;
  width: 400px;
  height: 100px;  
  background-color: #141f40;
  align-items: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.container{
  height: 60px;
  width: 160px;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
}

.box{
  height: 40px;
  width: 33.3%;
  background-color: #a9004b;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 0 5px;
}

.main{
  width: 400px;
  height: 250px;
  display: flex;
}

.content{
    float: left;
    width: 200px;
    height: 250px;
    background-color: #80bfa8;
}

.side{
  float: right;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  box-sizing: border-box;
  padding: 30px 60px 40px 40px;
}

.container_side{
  width: 150px;
  height: 170px;
 }

  .item{
    width: 150px;
    height: 50px;
    border: solid 5px #fff;
    background-color: #ff863f;
    box-sizing: border-box;
    margin: 10px 0 0 0;
  }

   .footer{
    height: 100px;  
    background-color: #d98d30;
  }


.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }